[[source]]
name = "pypi"
url = "https://pypi.douban.com/simple"
verify_ssl = true

[dev-packages]
pylint = "*"

[packages]
pyqt5 = "*"
requests = "*"
pillow = "*"
pymouse = "*"
webbrowser = "*"

[requires]
python_version = "3.7"
